{if $full_page}
<!-- $Id: user_account_list.htm 17030 2010-02-08 09:39:33Z sxc_shop $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$lang.cp_home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="styles/general.css" rel="stylesheet" type="text/css" />
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    <link href="styles/chosen/chosen.css" rel="stylesheet" type="text/css">
    {insert_scripts files="jquery-1.6.2.min.js,chosen.jquery.min.js,jquery.json.js,../js/transport.js,common.js"}
    <script language="JavaScript">
        <!--
        // 这里把JS用到的所有语言都赋值到这里
        {foreach from=$lang.js_languages key=key item=item}
        var {$key} = "{$item}";
        {/foreach}
        //-->
    </script>
</head>
<body>


<script>
    function show_popup(){
        frmBody = parent.document.getElementById('frame-body');
        if (frmBody.cols == "37, 12, *")
        {
            parent.main_frame.document.getElementById('menu_list').style.left = '195px';
        }
        else
        {
            parent.main_frame.document.getElementById('menu_list').style.left = '40px';
        }
        parent.main_frame.document.getElementById('menu_list').style.display = 'block';
    }
    function hide_popup(){

        parent.main_frame.document.getElementById('menu_list').style.display = 'none';
    }
</script>
<h1>

    <span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span><span id="search_id" class="action-span1">{if $ur_here} - 每日分红和会员进货 {/if}</span>
    <div style="clear:both"></div>
</h1>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div" style="display: none">
    <form action="javascript:searchUser()" name="searchForm">
        <img src="images/icon_search.gif" width="25" height="22" border="0" alt="SEARCH" />
        {$lang.user_id} <input type="text" name="keyword" size="10" />
        <select name="process_type">
            <option value="-1">{$lang.process_type}</option>
            <option value="0" {$process_type_0}>{$lang.surplus_type_0}</option>
            <option value="1" {$process_type_1}>{$lang.surplus_type_1}</option>
        </select>
        <select name="payment">
            <option value="">{$lang.pay_mothed}</option>
            {html_options options=$payment_list}
        </select>
        <select name="is_paid">
            <option value="-1">{$lang.status}</option>
            <option value="0" {$is_paid_0}>{$lang.unconfirm}</option>
            <option value="1" {$is_paid_1}>{$lang.confirm}</option>
            <option value="2">{$lang.cancel}</option>
        </select>
        <input type="submit" value="{$lang.button_search}" class="button" />
    </form>
</div>

<form method="POST" action="" name="listForm">
    <!-- start user_deposit list -->
    <div class="list-div" id="listDiv">
        {/if}
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th><a href="javascript:listTable.sort('user_name', 'DESC'); ">{$lang.user_id}</a>会员</th>
                <th><a href="javascript:listTable.sort('add_time', 'DESC'); ">{$lang.add_date}</a>时间</th>
                <th><a href="javascript:listTable.sort('process_type', 'DESC'); ">{$lang.process_type}</a>方式</th>
                <th><a href="javascript:listTable.sort('amount', 'DESC'); ">{$lang.surplus_amount}</a>金额</th>
                <th><a href="javascript:listTable.sort('payment', 'DESC'); ">{$lang.pay_mothed}</a>备注</th>

            </tr>
            {foreach from=$list item=item}
            <tr>
                <td>{if $item.name}{$item.name}{else}无{/if}</td>
                <td align="center">{$item.add_date}</td>
                <td align="center">增加</td>
                <td align="right">{$item.credit}</td>
                <td>{if $item.change_desc}{$item.change_desc}{else}N/A{/if}</td>
            </tr>
            {foreachelse}
            <tr>
                <td class="no-records" colspan="8">{$lang.no_records}</td>
            </tr>
            {/foreach}

            <table id="page-table" cellspacing="0">
                <tr>
                    <td>&nbsp;</td>
                    <td align="right" nowrap="true">
                        {include file="page.htm"}
                    </td>
                </tr>
            </table>
            {if $full_page}
    </div>
    <!-- end user_deposit list -->
</form>

<script type="text/javascript" language="JavaScript">
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};
    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
    {literal}
    <!--

            onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    }
    /**
     * 搜索用户
     */
    function searchUser()
    {
        listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        listTable.filter['process_type'] = document.forms['searchForm'].elements['process_type'].value;
        listTable.filter['payment'] = Utils.trim(document.forms['searchForm'].elements['payment'].value);
        listTable.filter['is_paid'] = document.forms['searchForm'].elements['is_paid'].value;
        listTable.filter['page'] = 1;
        listTable.loadList();
    }
    //-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}