{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="25" height="22" border="0" alt="SEARCH" />
    会员名称 <input type="text" name="keyword" size="10" />
      <select name="process_type" style="display: none">
        <option value="0">类型</option>
        <option value="0" {$process_type_0}>充值</option>
        <option value="1" {$process_type_1}>体现</option>
      </select>
      <select name="payment">
      <option value="">支付方式</option>
      {html_options options=$payment_list}
      </select>
      <select name="is_paid" style="display: none">
        <option value="1">到款状态</option>
        <option value="0" {$is_paid_0}>未确认</option>
        <option value="1" {$is_paid_1}>已完成</option>
        <option value="2">{$lang.cancel}</option>
      </select>
      <input type="submit" value="{$lang.button_search}" class="button" />
   <!-- <span>总股份：{$total_gufen}个 &nbsp; </span><span>总金额：{$total_jine}元</span>&nbsp;
    <span>启用：{$qy_gufen}个 &nbsp; </span><span>启用：{$qy_jine}元</span>&nbsp;
    <span>关闭：{$tg_gufen}个 &nbsp; </span><span>关闭：{$tg_jine}元</span>-->
  </form>
</div>

<form method="POST" action="" name="listForm">
<!-- start user_deposit list -->
<div class="list-div" id="listDiv">
{/if}
<table cellpadding="3" cellspacing="1">
  <tr>
    <th><a href="javascript:listTable.sort('user_name', 'DESC'); ">会员名称</a>{$sort_user_name}</th>
    <th style="display: none"><a href="javascript:listTable.sort('process_type', 'DESC'); ">类型</a>{$sort_process_type}</th>
    <!--<th><a href="javascript:listTable.sort('gufennum', 'DESC'); ">股份数量</a>{$sort_process_type}</th>-->
    <th><a href="javascript:listTable.sort('amount', 'DESC'); ">金额</a>{$sort_amount}</th>

    <th><a href="javascript:listTable.sort('payment', 'DESC'); ">支付方式</a>{$sort_payment}</th>
    <th><a href="javascript:listTable.sort('is_paid', 'DESC'); ">到款状态</a>{$sort_is_paid}</th>
    <!--<th><a href="javascript:listTable.sort('realname', 'DESC'); ">姓名</a>{$sort_is_paid}</th>
    <th><a href="javascript:listTable.sort('mobile', 'DESC'); ">联系方式</a>{$sort_is_paid}</th>
    <th><a href="javascript:listTable.sort('idcard', 'DESC'); ">身份证</a>{$sort_is_paid}</th>-->
    <th><a href="javascript:listTable.sort('add_time', 'DESC'); ">操作日期</a>{$sort_add_time}</th>
    <th><a href="javascript:listTable.sort('qixian', 'DESC'); ">会员期限</a>{$sort_add_time}</th>
    <th><a href="javascript:listTable.sort('status', 'DESC'); ">会员状态</a>{$sort_add_time}</th>
    <th><a href="javascript:listTable.sort('tuigutime', 'DESC'); ">到期时间</a>{$sort_add_time}</th>
    <!--<th>已返本金</th>
    <th>退股</th>-->
  </tr>
  {foreach from=$list item=item}
  <tr>
    <td>{if $item.user_name}{$item.user_name}{else}{$lang.no_user}{/if}</td>

    <td align="center" style="display: none">{$item.process_type_name}类型</td>
   <!-- <td align="center">{$item.gufennum}</td>-->
    <td align="right">{$item.surplus_amount}</td>

    <td>{if $item.payment}{$item.payment}{else}N/A{/if}</td>
    <td align="center">{if $item.is_paid}已完成{else}{$lang.unconfirm}{/if}</td>
    <!--<td align="center">{$item.realname}</td>
    <td align="center">{$item.mobile}</td>
    <td align="center">{$item.idcard}</td>-->
    <td align="center">{$item.add_date}</td>
    <td align="center">{$item.shijian}</td>
    <td align="center">{$item.status}</td>
    <td align="center">{$item.tuigutime}</td>
   <!-- <td align="center">{$item.credit2}</td>
    <td align="center">
    {if $item.is_paid}
      <a href="user_accountgf.php?act=edit&id={$item.id}" title="{$lang.surplus}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
    {else}
    <a href="user_account.php?act=check&id={$item.id}" title="{$lang.check}"><img src="images/icon_view.gif" border="0" height="16" width="16" />
    <&lt;!&ndash;a href="javascript:;" onclick="listTable.remove({$item.id}, '{$lang.drop_confirm}')" title="{$lang.drop}" ><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>&ndash;&gt;
    {/if}
    </td>-->
  </tr>
  {foreachelse}
  <tr>
    <td class="no-records" colspan="8">{$lang.no_records}</td>
  </tr>
  {/foreach}
</table>
<table id="page-table" cellspacing="0">
<tr>
  <td>&nbsp;</td>
  <td align="right" nowrap="true">
  {include file="page.htm"}
  </td>
</tr>
</table>
{if $full_page}
</div>
<!-- end user_deposit list -->
</form>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['process_type'] = document.forms['searchForm'].elements['process_type'].value;
    listTable.filter['payment'] = Utils.trim(document.forms['searchForm'].elements['payment'].value);
    listTable.filter['is_paid'] = document.forms['searchForm'].elements['is_paid'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}