<!-- $Id: user_account_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{$lang.cp_home}{if $ur_here} - {$ur_here} {/if}</title>
  <meta name="robots" content="noindex, nofollow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="styles/general.css" rel="stylesheet" type="text/css" />
  <link href="styles/main.css" rel="stylesheet" type="text/css" />
  <link href="styles/chosen/chosen.css" rel="stylesheet" type="text/css">
  {insert_scripts files="jquery-1.6.2.min.js,chosen.jquery.min.js,jquery.json.js,../js/transport.js,common.js"}
  <script language="JavaScript">
    <!--
    // 这里把JS用到的所有语言都赋值到这里
    {foreach from=$lang.js_languages key=key item=item}
    var {$key} = "{$item}";
    {/foreach}
    //-->
  </script>
</head>
<body>

<div id="menu_list" onmouseover="show_popup()" onmouseout="hide_popup()">
  <ul>
    <li><a href="goods.php?act=add" target="main_frame">添加新商品</a></li>
    <li><a href="category.php?act=add" target="main_frame">添加商品分类</a></li>
    <li><a href="order.php?act=add" target="main_frame">添加订单</a></li>
    <li><a href="article.php?act=add" target="main_frame">添加新文章</a></li>
    <li><a href="users.php?act=add" target="main_frame">添加会员</a></li>
  </ul>
</div>
<script>
  function show_popup(){
    frmBody = parent.document.getElementById('frame-body');
    if (frmBody.cols == "37, 12, *")
    {
      parent.main_frame.document.getElementById('menu_list').style.left = '195px';
    }
    else
    {
      parent.main_frame.document.getElementById('menu_list').style.left = '40px';
    }
    parent.main_frame.document.getElementById('menu_list').style.display = 'block';
  }
  function hide_popup(){

    parent.main_frame.document.getElementById('menu_list').style.display = 'none';
  }
</script>
<h1 style="display: none">
  {if $action_link}
  <span class="action-span"><a href="{$action_link.href}">{$action_link.text}</a></span>
  {/if}
  {if $action_link2}
  <span class="action-span"><a href="{$action_link2.href}">{$action_link2.text}</a>&nbsp;&nbsp;</span>
  {/if}
  <span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span><span id="search_id" class="action-span1">{if $ur_here} - {$ur_here} {/if}</span>
  <div style="clear:both"></div>
</h1>

{insert_scripts files="validator.js"}
<div class="main-div">
  <form action="user_accountgf.php" method="post" name="theForm" onsubmit="return validate()">
    <table width="100%">
      <tr>
        <td class="label">会员编号：</td>
        <td>
          <input type="text" name="user_id" value="{$user_name}" size="20"
          {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>
          <span class="require-field">*</span>
        </td>
      </tr>
      <tr>
        <td class="label">股份数量：</td>
        <td>
          <input type="text" name="gufennum" value="{$user_surplus.gufennum}" size="20"
                 {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>
          <span class="require-field">*</span>
        </td>
      </tr>
      <tr>
        <td class="label">充值金额：</td>
        <td>
          <input type="text" name="amount" value="{$user_surplus.amount}" size="20"
          {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>
          <span class="require-field">*</span>
        </td>
      </tr>
      <tr>
        <td class="label">支付方式：</td>
        <td>
          <select name="payment" {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3}disabled="true" {/if}>
          <option value="">请选择...{$lang.please_select}</option>
          {html_options options=$payment_list selected=$user_surplus.payment}
          </select>
        </td>
        </td>
      </tr>
      <tr style="display: none">
        <td class="label">类型：</td>
        <td>
          <input type="radio" name="process_type" value="0"
          {if $user_surplus.process_type eq 0} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"}disabled="true" {/if} />{$lang.surplus_type_0}
          <input type="radio" name="process_type" value="1"
          {if $user_surplus.process_type eq 1} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3|| $action eq "edit"}disabled="true" {/if} />{$lang.surplus_type_1}
          {if $action eq "edit" && ($user_surplus.process_type eq 2 || $user_surplus.process_type eq 3)}
          <input type="radio" name="process_type" value="2"
          {if $user_surplus.process_type eq 2|| $action eq "edit"} checked="true"{/if}{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} disabled="true"{/if} />{$lang.surplus_type_2}
          <input type="radio" name="process_type" value="3"
          {if $user_surplus.process_type eq 3|| $action eq "edit"} checked="true"{/if}{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} disabled="true"{/if} />{$lang.surplus_type_3}
          {/if}
        </td>
      </tr>
      <tr style="display: none">
        <td class="label">管理员备注：</td>
        <td>
          <textarea name="admin_note" cols="55" rows="3"{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} readonly="true" {/if}>{$user_surplus.admin_note}</textarea>
        </td>
      </tr>
      <tr style="display: none">
        <td class="label">会员描述：</td>
        <td>
          <textarea name="user_note" cols="55" rows="3"{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} readonly="true" {/if}>{$user_surplus.user_note}</textarea>
        </td>
      </tr>
      <tr>
        <td class="label">姓名：</td>
        <td>
          <input type="text" name="realname" value="{$user_name}" size="20"
                 {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>
        </td>
      </tr>
      <tr>
        <td class="label">手机号：</td>
        <td>
          <input type="text" name="mobile" value="{$user_name}" size="20"
                 {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>

        </td>
      </tr>
      <tr>
        <td class="label">身份证号：</td>
        <td>
          <input type="text" name="idcard" value="{$user_name}" size="20"
                 {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>

        </td>
      </tr>
      <tr>
        <td class="label">股份时间：</td>
        <td>
          <input type="radio" name="qixian" value="6"
                 {if $user_surplus.is_paid eq 0} checked="true"{/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>半年
          <input type="radio" name="qixian" value="12"
                 {if $user_surplus.is_paid eq 1} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>一年
          <input type="radio" name="qixian" value="60"
                 {if $user_surplus.is_paid eq 2} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>五年
        </td>
      </tr>
      <tr style="display: none">
        <td class="label">股份状态：</td>
        <td>
          <input type="radio" name="is_paid" value="1"
          {if $user_surplus.is_paid eq 0} checked="true"{/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>完成
          <input type="radio" name="is_paid" value="1"
          {if $user_surplus.is_paid eq 1} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.confirm}
          <input type="radio" name="is_paid" value="1"
          {if $user_surplus.is_paid eq 2} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.cancel}
        </td>
      </tr>
      <tr>
        <td class="label">&nbsp;</td>
        <td>
          <input type="hidden" name="id" value="{$user_surplus.id}" />
          <input type="hidden" name="act" value="{$form_act}" />
          {if $user_surplus.process_type eq 0 || $user_surplus.process_type eq 1}
          <input type="submit" value="{$lang.button_submit}" class="button" />
          <input type="reset" value="{$lang.button_reset}" class="button" />
          {/if}
        </td>
      </tr>
    </table>
  </form>
</div>

<script language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");

    validator.required("user_id",   user_id_empty);
    validator.required("amount",    deposit_amount_empty);
    validator.isNumber("amount",    deposit_amount_error, true);

    var deposit_amount = document['theForm'].elements['amount'].value;
    if (deposit_amount.length > 0)
    {
        if (deposit_amount == 0 || deposit_amount < 0)
        {
            alert(deposit_amount_error);
            return false;
        }
    }

    return validator.passed();
}

//-->
{/literal}
</script>
{include file="pagefooter.htm"}